.problem {
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  font-family: 'arial';
  animation: fadeIn 1.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the content */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 1.2s;
}

.problem-title {
  /* Large font size, adjust as needed */
  font-size: 10em; /* Large font size, adjust as needed */
  text-align: center; /* Ensures text is centered in the div */
}

.problem-input {
  border: none;
  background: transparent;
  font-size: 10em;
  caret-color: transparent; /* Hide the blinking cursor */
  width: 80%;
  outline: none;
  text-align: center; /* Centers text inside the input field */
  display: flex; /* Utilizes flexbox to center content */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  /* Add the following code to select the input when the page loads */
  user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
}
